<link href="/style.css" rel="stylesheet" />
<div class="login-wrap">
  <div class="login-html">
    <input id="tab-1" type="radio" name="tab" class="sign-in" checked /><label
      for="tab-1"
      class="tab"
      >Sign In</label
    >
    <input id="tab-2" type="radio" name="tab" class="for-pwd" /><label
      for="tab-2"
      class="tab"
      >Sign Up</label
    >
    <div class="login-form">
      <form action="/login" method="POST" class="sign-in-htm">
        <div class="group">
          <label for="email" class="label">Email</label>
          <input id="email" name="email" type="email" class="input" value="" />
        </div>
        <div class="group">
          <label for="pass" class="label">Password</label>
          <input
            id="password"
            name="password"
            type="password"
            class="input"
            data-type="password"
            value=""
          />
        </div>
        <div class="group">
          <input type="submit" class="button" value="Sign In" />
        </div>
        <div class="hr"></div>
      </form>
      <form action="/register" method="POST" class="for-pwd-htm">
        <div class="group">
          <label for="name" class="label">Name</label>
          <input name="name" type="text" class="input" value="" />
        </div>
        <div class="group">
          <label for="email" class="label">Email</label>
          <input name="email" type="email" class="input" value="" />
        </div>
        <div class="group">
          <label for="password" class="label">Password</label>
          <input name="password" type="password" class="input" value="" />
        </div>
        <div class="group">
          <label for="password2" class="label">Confirm Password</label>
          <input name="password2" type="password" class="input" value="" />
        </div>

        <div class="group">
          <input type="submit" class="button" value="Register" />
        </div>
        <div class="hr"></div>
    </form>
    </div>
  </div>
</div>
